<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todas las Peliculas</h1>
    <p>Bienvenido: <b>{{ cuenta }}</b></p>
    <a href="{% url 'logout' %}">Cerrar sessión</a>
    {% for x in peliculas %}
        <p>{{ x.nombre }} ({{ x.anio_estreno }}) - Director: {{ x.director }} {% if x.especial %} - <b>Especial</b> {% endif %}</p>
    {% endfor %}
</body>
</html>